# Bloquear a pasta ENV 
env/

# Bloquear a pasta arquivoLixo
arquivoLixo/

# Bloquear qualquer arquivos exemplo que seja .txt
**/exemplo*.txt

# Bloquear variaveis de ambiente
src/util/config.properties

# Bloquear qualquer arquivo HTML
**/*.html
